@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family:'Poppins', sans-serif;
}

html{
    font-size: 80.5%;   
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: white;
    color: #c09ebe;
}

header{
    margin-top: 20px;
    position: relative;
    top: 0%;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.Logo{
    font-size: 3rem;
    color: #db1298;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5 ease;
}

.Logo:hover{
    transform: scale(1.1);

}

nav a{
    font-size: 1.8rem;
    color: #db1298;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3 ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active{
    color: #db1298;
    border-bottom: 3px solid;
}

@media(max-width:995px){
    nav{
        position: absolute;
        display: none;
        top:0;
        right: 0;
        width: 40%;
        border-left: 3px solid #ecd9e7;
        border-bottom: 3px solid #ecd9e7;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #ecd9e7;
        border-top: 0.1rem solid #ecd9e7;
    }

    nav.active{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem;

    }

    nav a.hover
    nav a.activate{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #db1298;
    }
}

section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.Home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: rgb(255, 255, 255);
}

.Home .Home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: #db1298;
}

.Home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.Home-img{
    border-radius: 50%;
}

.Home-img img{
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid #e6c8dc;
    cursor: pointer;
    transition: 0.2s linear;
}

.Home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}

.Social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem #c09ebe;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem;
    transition: 0.3 ease;
}

.Social-icons a:hover{
    color: #000000;
    transform: scale(1.3)translateY(-5px);
    background-color: #c09ebe;
    box-shadow: 0 0 25px #c09ebe;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: #c09ebe;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #ffffff;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px #c09ebe;
    transition: 0.3s ease;
    cursor: pointer;
}

.bnt:hover{
    transform: scale3d(1.3);
    background-color: #c09ebe;
    color: rgb(20, 19, 19);
    box-shadow: 0 0 25px #c09ebe;
}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;

} 

.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: "software Developer";
    color: #c09ebe;
    animation: words 20s infinite;

}

.typing-text span::after{
    color: "";
    background-color: white;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid #c09ebe;
    right: -8;
    animation: cursor 0.6s infinite;
}

@keyframes cursor{
    to{
        border-left: 3px solid #c09ebe;
    }
}

@keyframes words{
    0%, 20%{
        content:"Web Developer";
    }
    21%, 40%{
        content:"bed rotter";
    }
    41%, 60%{
        content:"pretty princess";
    }
    61%, 80%{
        content: "Rioter";
    }
    81%, 100%{
        content: "film enthusiast";
    }
}

@media (max-width: 1000px){
    .Home{
        gap: 4rem;
    }
}

@media(max-width: 995px){
    .Home{
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .Home .Home-content h3{
        font-size: 2.5rem;

    }

    .Home-content h1{
        font-size: 5rem;
    }

    .Home-img img{
        width: 70vh;
        margin-top: 4rem;
    }
}
